* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  padding: 10px 0px;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Montserrat';
  color: black;
}

.App {
  max-width: 800px;
  margin: 0 auto;
}
